
<h2 class="text-center">LIVE POLL </h2>
<hr />

    <div class="user-features-links">
        <ul>
            <li><a href="" id="submit_link"><i class="fa fa-group"></i>  </a></li>
        </ul>
    </div>
