@{
    ViewBag.Title = "ApproveUploadDoc";
}
<h1>Manage Uploaded Documents</h1><hr />

@using (Html.BeginForm())
{
    <div class="form form-horizontal">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabPending" data-toggle="tab">Pending</a></li>
            <li><a href="#tabApproved" data-toggle="tab">Approved</a></li>
        </ul>
        <div class="tab-content tab-content-custom">
            <div id="tabPending" class="tab-pane fade in active">
                <table id="tblPendingRequest" class="table table-striped table-bordered grid-table nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th id="chkParent"></th>
                            <th>File Detail</th>
                            <th>File Description</th>
                            <th>Approval Remarks</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button type="button" onclick="SubmitApproval();" class="btn btn-primary btnUpdate">Approve</button>
            </div>
            <div id="tabApproved" class="tab-pane fade">
                <table id="tblApprovedRequest" class="table table-striped table-bordered grid-table nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th>File Detail</th>
                            <th>File Description</th>
                            <th>Approval Remarks</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <a href="#" class="paginate" id="previous">Previous</a> |
                <a href="#" class="paginate" id="next">Next</a>
            </div>
        </div>
    </div><br />
}
<script src="~/CustomScripts/ApproveUploadDoc.js"></script>
