<div class="profile-userfollower">
    <div class="row">
        <div class="col-sm-6"><span>@ViewBag.MyFollowing</span> Following</div>
        <div class="col-sm-6"><span>@ViewBag.MyFollowers</span> Followers</div>
    </div>
</div>

